.left-content{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 100vh;
    background-color: white;
    gap: 10px;
    padding: 20px;
}

.middle-content{
    width: 1000px;
}

.right-content{
    flex-grow: 1;
    margin-right: 10px;
    overflow-y: auto;
    align-items: center;
}

.middle-content, .right-content{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    height: 97.9vh;
    background-color: white;
}

.search-bounding{
    width: auto;
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: lightgray;
    font-size: 20px;
    padding: 15px;
    border-radius: 20px;
}

.chat-room-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
}

.chat-room{
    display: flex;
    gap: 10px;
    padding: 10px;
    align-items: center;
    border-radius: 15px;
    transition: background-color 0.1s;
}

.chat-room:hover{
    background-color: lightgray;
    cursor: pointer;
}

.chat-room-avatar{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid black;
}

.chat-room-name{
    font-size: 20px;
    font-weight: bold;
    margin-top: -5px;
}

.chat-room-messages{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom-color: lightgray;
    border-bottom-style: solid;
    border-top-color: lightgray;
    border-top-style: solid;
    border-width: 1.5px;
    padding-top: 20px;
}

.function{
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
}

.sender-message{
    max-width: 500px;
    align-self: flex-end;
}

.chat-room-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.chat-room-info{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.chat-room-bottom{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 15px;
}

.chat-room-message-input{
    outline: none;
    border: none;
    font-size: 20px;
    background-color: inherit;
}

.tmp-media-list{
    display: flex;
    overflow-x: auto;
    gap: 15px;
    background-color: inherit;
    margin-bottom: 10px;
    padding-top: 5px;
}

.send-icon{
    mask-image: url('../../public/send-26.svg');
    cursor: pointer;
    width: 35px;
    height: 35px;
    margin-bottom: 4px;
    background-color: #E53935;
}