*{
    font-family: 'Roboto', sans-serif;
}

body, p{
    margin: 0;
}

.curtain{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: lightgray;
    z-index: 100;
    opacity: 0.8;
}

.icon-down-right-corner{
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.icon-top-right-corner{
    position: absolute;
    right: 5px;
    top: 5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
