*{
    font-family: 'Roboto', sans-serif;
}

body, p{
    margin: 0;
}

.curtain{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: lightgray;
    z-index: 100;
    opacity: 0.8;
}
